<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Список распреденных Merge Request</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>

<body>
<div th:insert="common/navbar"></div>
<div class="container">
    <div class="h-100 p-5 bg-light border rounded-3">
        <h3 >Список распреденных Merge Request</h3>

        <table class="table table-hover">
            <thead>
            <tr>
                <th>Ревьювер</th>
                <th>Название MR</th>
                <th>Успех</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="history : ${histories}" class="clickable-row" data-href="url://reviewer/list">
                <td ><span th:text="${history.reviewerUsername}"/></td>
                <td ><span class="overflow-hidden" th:text="${history.mergeRequestName}"/></td>
                <td>
                    <div th:if="${history.success}">
                        <svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg text-success" viewBox="0 0 16 16">
                            <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"></path>
                        </svg>
                    </div>
                    <div th:unless="${history.success}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg text-danger" viewBox="0 0 16 16">
                            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"></path>
                        </svg>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div th:insert="common/load_faster"></div>
</body>
</html>